30 1 * * MON /app/cron_scripts/2021.sh
30 1 * * TUE /app/cron_scripts/2022.sh
30 1 * * WED /app/cron_scripts/2023.sh
30 1 * * THU /app/cron_scripts/2024.sh
30 14 * * SUN /app/cron_scripts/2025.sh

# Calculate ratings for the past several weeks as soon as results are open
5 21 * * * /app/cron_scripts/recent.sh
